In [1]:
import pandas as pd

In [3]:
df_2023 = pd.read_csv("./bases/PEDE 2024 - DATATHON - PEDE2023.csv")

In [7]:
df.head()

,RA,Fase,INDE 2023,Pedra 2023,Turma,Nome,Data de Nasc,Idade,Gênero,Ano ingresso,...,Ing,Indicado,Atingiu PV,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV
0,20230512,ALFA,"9,31095",Topázio,ALFA A - G0/G1,Emanuele Aparecida da Silva Rodrigues,6/17/2015,8,Feminino,2023,...,NaN,NaN,NaN,"8,92",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN
1,20230108,ALFA,"8,2212",Topázio,ALFA A - G0/G1,Gustavo de Souza Domingues Costa,5/31/2014,9,Masculino,2023,...,NaN,NaN,NaN,"8,585",5,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN
2,20230119,ALFA,"5,92975",Quartzo,ALFA A - G0/G1,Joaquim Silva Batista,2/25/2016,7,Masculino,2023,...,NaN,NaN,NaN,"6,26",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN
3,20230507,ALFA,"7,034",Ametista,ALFA A - G0/G1,Laura Gonçalves de Carvalho Rocha,12/3/2015,8,Feminino,2023,...,NaN,NaN,NaN,"8,5",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN
4,20230153,ALFA,"8,1552",Topázio,ALFA A - G0/G1,Lucas Henrique Silva Rocha,11/13/2014,8,Masculino,2023,...,NaN,NaN,NaN,"7,915",10,ALFA (1° e 2° ano),0,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1014 non-null   int64
 1   Fase                   1014 non-null   object
 2   INDE 2023              932 non-null    object
 3   Pedra 2023             932 non-null    object
 4   Turma                  1014 non-null   object
 5   Nome                   1014 non-null   object
 6   Data de Nasc           1014 non-null   object
 7   Idade                  1014 non-null   int64
 8   Gênero                 1014 non-null   object
 9   Ano ingresso           1014 non-null   int64
 10  Instituição de ensino  1014 non-null   object
 11  Pedra 20               240 non-null    object
 12  Pedra 21               335 non-null    object
 13  Pedra 22               600 non-null    object
 14  Pedra 23               0 non-null      float64
 15  INDE 22                600 non-null    object
 16  INDE 23                0 non-null      float64
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  Nº Av                  938 non-null    float64
 21  Avaliador1             938 non-null    object
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             938 non-null    object
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             707 non-null    object
 26  Rec Av3                0 non-null      float64
 27  Avaliador4             334 non-null    object
 28  Rec Av4                0 non-null      float64
 29  IAA                    951 non-null    object
 30  IEG                    938 non-null    object
 31  IPS                    945 non-null    object
 32  IPP                    938 non-null    object
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    938 non-null    object
 35  Mat                    937 non-null    object
 36  Por                    937 non-null    object
 37  Ing                    334 non-null    object
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    938 non-null    object
 41  IAN                    1014 non-null   object
 42  Fase Ideal             1014 non-null   object
 43  Defasagem              1014 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
dtypes: float64(16), int64(4), object(27)
memory usage: 372.5+ KB